/* General styles */
body {

  background: url(./Assests/img/1836480.jpg)center/cover no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,0.2);
}
h2{
  font-size: 5rem;
  margin: 0;
}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:disabled {
  background-color: #ddd;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
  color: #000;
}

.weather-info img {
  width: 80px;
  background-color: turquoise;
  border-radius: 50%;
}

.forecast {
  margin-top: 40px;
}

.forecast-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Allow cards to wrap on smaller screens */
}

.forecast-card {
  background-color: rgba(64, 224, 208,0.7);
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #000;
  font-weight: bold;
}

.forecast-card img {
  width: 50px;
}

.error {
  color: red;
}

.loading {
  color: yellow;
}

/* Media Queries for Responsiveness */

/* Mobile Devices (max-width: 600px) */
